<div class="dossier-details-container" fxLayout="column" style="font-family:times new roman , times, serif;">
  <div
    class="card"
    fxLayout="column"
    fxLayoutGap="20px"
    fxFlex
    id="content"
    #content
  >
    <div fxLayout fxLayoutAlign="space-between center">
      <span></span>
      <span fxLayout
        ><span class="title" style="font-weight: Bold;" >Numero dossier: </span>
        {{ dossierDetails?.id }}</span
      >
    </div>
    <div fxLayout fxLayoutAlign="space-between center">
      <span></span>
      <span fxLayout
        ><span class="title" style="font-weight: Bold;">Date de creation: </span>
        {{ dossierDetails?.date | date }}</span
      >
    </div>
    <span></span>
    <span></span>
    <span></span>
    <div fxLayout fxLayoutAlign="space-between center">
      <span fxLayout
        ><span class="title" style="font-weight: Bold;">Proprietaire: </span>
        {{ dossierDetails?.nom_proprietaire }}</span
      >
    </div>

    <div fxLayout fxLayoutAlign="space-between center">
      <span fxLayout
        ><span class="title" style="font-weight: Bold;">Piéces: </span>
        <div>
          <div *ngFor="let el of piece" fxLayout="column" fxLayoutGap="10px">
            <span>-{{ el }}</span>
          </div>
        </div>
      </span>
    </div>

    <div fxLayout fxLayoutAlign="space-between center">
      <span fxLayout
        ><span class="title" style="font-weight: Bold;">Numéro terrain: </span>
        {{ dossierDetails?.numero_terrain }}</span
      >
    </div>

    <div fxLayout fxLayoutAlign="space-between center">
      <span fxLayout
        ><span class="title" style="font-weight: Bold;">Nature: </span> {{ dossierDetails?.nature }}</span
      >
    </div>

    <div fxLayout fxLayoutAlign="space-between center">
      <span fxLayout
        ><span class="title" style="font-weight: Bold;">Type construction: </span>
        {{ dossierDetails?.type_construction }}</span
      >
    </div>
    <hr />
    <div fxLayout fxLayoutAlign="space-between center">
      <span fxLayout
        ><span class="title"style="font-weight: Bold;">Commission: </span>
        <span *ngIf="dossierDetails?.id_commission">{{
          dossierDetails?.date_commission | date
        }}</span>
        <span *ngIf="!dossierDetails?.id_commission">Pas encore</span>
      </span>
    </div>

    <div fxLayout fxLayoutAlign="space-between center">
      <span fxLayout
        ><span class="title" style="font-weight: Bold;">Decision: </span>
        <span *ngIf="dossierDetails?.id_decision">{{
          dossierDetails?.decision
        }}</span>
        <span *ngIf="!dossierDetails?.id_decision">Pas encore</span>
      </span>
    </div>
  </div>
  <div fxLayout fxLayoutAlign="space-between center" fxFlex="60px">
    <span></span>
    <button
    (click)="capturePDF()"
    mat-fab
    color="warn"
    aria-label="Example icon button with a home icon"
  >
    <mat-icon>print</mat-icon>
  </button>
  </div>
</div>
