<div class="container">
<mat-card   class="example-card">

  <mat-card-content fxLayout="column" fxLayoutAlign="space-between center">
    <div fxFlex="50"><i class="fas fa-user-circle fa-5x"></i></div>
    <div fxFlex="50" style="text-align: center;" style="font-weight: bold;"><p>Nom et prenom</p></div>
  </mat-card-content>

</mat-card>
<div fxLayoutAlign="space-between center">

<mat-list class="mat-list">
  <mat-list-item>Contact</mat-list-item>
  <mat-divider></mat-divider>
  <mat-list-item>Email</mat-list-item>
  <mat-divider></mat-divider>
  <mat-list-item>Adresse</mat-list-item>
</mat-list>
<button mat-raised-button  color="primary" > Modifier profile</button>
</div>
</div>

