.example-card {
  max-width: 1400px;
  display: flex;
	flex-direction: column;
	flex-wrap: nowrap;
	justify-content: center;
  align-items: center;
 margin-top: 3.5%;

 margin-bottom: 10%;


}

.example-header-image {
  background-image: url('/assets/img/m.jpg');
  background-size: cover;
}
