<div class="h-100" >
  <mat-card class="example-card" fxLayout="column" fxLayoutAlign="space-around center" style="font-family:times new roman , times, serif;">
    <mat-card-header>
      <div mat-card-avatar class="example-header-image"></div>
      <mat-card-title style="margin-left: 40%;font-family: serif;font-size:xx-large;color: red;"> {{'Accueil'|translate}} </mat-card-title>
      <mat-card-subtitle style=" font-family: serif;font-size: large;color: black;">
       {{'Toute personne souhaitant construire, ou procéder à des travaux de restauration d une construction déjà existante ou y apporter des modifications, doit obtenir un permis de bâtir.'|translate}}
      </mat-card-subtitle>

    </mat-card-header>
   <div style="font-family: serif;font-size: large;color: cadetblue;"> {{'Pièces nécessaires à la constitution d un dossier d une autorisation de bâtir :'|translate}}</div>
    <mat-card-content>

      <mat-list>
        <mat-list-item>{{'Une demande sur papier libre, signée par le pétitionnaire ou son représentant. (2 exemplaires)'|translate}}</mat-list-item>

        <mat-divider></mat-divider>

        <mat-list-item>{{'Un certificat de propriété ou un jugement en matière pétitoire ou un autre document attribuant la propriété de la parcelle, sur laquelle il est projeté de construire  (2 exemplaires)'|translate}}</mat-list-item>

        <mat-divider></mat-divider>

        <mat-list-item>{{'Une fiche technique délivrée par l administration, signée par l architecte, le maître d ouvrage (2 correspondances)'|translate}}</mat-list-item>

        <mat-divider></mat-divider>

        <mat-list-item>{{'Un projet de construction  (5 exemplaires).'|translate}}</mat-list-item>

        <mat-divider></mat-divider>

        <mat-list-item>{{'Un récépissé de la déclaration de l impôt sur le revenu des personnes physiques ou de l impôt sur les sociétés (2 exemplaires)'|translate}}</mat-list-item>

        <mat-divider></mat-divider>

        <mat-list-item>{{'Un reçu de paiement des taxes dues sur l immeuble objet de la demande du permis de bâtir (2 exemplaires).'|translate}}</mat-list-item>

        <mat-divider></mat-divider>



        <mat-divider></mat-divider>

        <mat-list-item>{{'Note de présentation (2 exemplaires)'|translate}}</mat-list-item>

        <mat-divider></mat-divider>

        <mat-list-item>{{'Copie de la carte d’identité nationale (2 exemplaires)'|translate}}</mat-list-item>

      </mat-list>
    </mat-card-content>
    <mat-card-actions>
      <button mat-button></button>
      <button mat-button></button>
    </mat-card-actions>
  </mat-card>
</div>




