mat-horizontal-stepper{
   /* margin-bottom: 20%;*/
    position: absolute;
   top: 50%; left: 50%;
    transform: translate(-50%, -50%);
}
app-footer{


position:absolute;

bottom:0;

width:100%;

/*padding-top:50px;*/

height:50px;
}

button{
  margin-top: 60px;
  background-color: rgba(0, 0, 0, 0.87);;
  color: white;
}

