
<footer >
  <!-- Footer main -->
  <section class="ft-main" >

    <div class="ft-main-item">
      <h2 class="ft-title">{{'Menu'| translate}}</h2>
      <ul>
        <li><a routerLink="/">{{'Accueil'| translate}}</a></li>
        <li><a routerLink="/register">{{'Inscription'|translate}}</a></li>
        <li><a routerLink="/login">{{'Connexion' | translate}}</a></li>
        <li><a href="#">{{'Pieces du dossier'| translate}}</a></li>
      </ul>
    </div>
    <div class="ft-main-item" >
      <h2 class="ft-title">{{'Contact'| translate}}</h2>
      <ul>
        <li><a href="#">{{'Adresse'| translate}} </a></li>
        <li><a href="#">{{'Email'| translate}}</a></li>
        <li><a href="#">{{'Téléphone'| translate}}</a></li>
        <li><a href="#">{{'Fax'| translate}}</a></li>
      </ul>
    </div>
    <div class="ft-main-item">
      <h2 class="ft-title"></h2>
      <p></p>
     <!-- <form>
        <input type="email" name="email" placeholder="Enter email address">
        <input type="submit" value="Subscribe">
      </form>-->
    </div>
  </section>

  <!-- Footer social -->
  <section class="ft-social">
    <ul class="ft-social-list">
      <li><a href="#"><i class="fab fa-facebook"></i></a></li>
      <li><a href="#"><i class="fab fa-twitter"></i></a></li>
      <li><a href="#"><i class="fab fa-instagram"></i></a></li>


    </ul>
  </section>

  <!-- Footer legal -->
  <section class="ft-legal">
    <ul class="ft-legal-list">


      <li>{{'© Copyright 2020.All Rights Reserved.'|translate}}</li>
    </ul>
  </section>
</footer>
